.overlay {
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  left: 0;
  height: 200vh;
  background-color: rgba(27, 27, 27, 0.75);
  opacity: 0;
  visibility: hidden;
  &--active {
    z-index: 30 !important;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear, opacity 0.2s linear;
  }
  &--menu {
    z-index: 9 !important;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear, opacity 0.2s linear;
  }
}

.header {
  position: sticky;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0 21px;
  box-shadow: 0px 4px 40px rgba(255, 255, 255, 0.04);
  transition: 0.3s;
  backdrop-filter: blur(10px);
  @include w1023 {
    position: static;
    z-index: initial;
    padding: 17px 0;
    backdrop-filter: none;
    transform: none !important;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--surface);
    opacity: 0.87;
    @include w1023 {
      display: none;
    }
  }
  &--hidden {
    transform: translateY(-100%);
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    margin-right: 72px;
    svg {
      @include w1023 {
        width: 26px;
        height: 26px;
      }
    }
    path {
      transition: 0.2s;
    }
    @include hover {
      &:hover path,
      &:focus path {
        fill: var(--accent);
      }
    }
    @include active {
      &:active path {
        fill: var(--accent);
      }
    }
  }
  .header__wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include w1023 {
      position: fixed;
      overflow: hidden;
      z-index: 20;
      top: auto;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      padding-bottom: 300px;
      background: var(--surface);
      transform: translateY(100%);
      transition: transform 0.4s ease;
    }
    &--active {
      transform: translateY(150px);
    }
  }
  &__top {
    display: none;
    @include w1023 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      border-bottom: 1px solid $neutrals-5;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }
  &__close {
    transform: translateX(16px);
    display: flex;
    padding: 18px 16px;
    background: none;
    border: none;
    cursor: pointer;
    &:active path {
      stroke: var(--accent);
    }
    path {
      stroke: var(--main-on-surface);
      transition: stroke 0.2s;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
    @include w1023 {
      display: block;
    }
  }
  &-list {
    &__item {
      &:not(:last-child) {
        margin-right: 54px;
        @include w1023 {
          margin-right: 0;
        }
      }
    }
    &__link {
      position: relative;
      font-weight: 500;
      @include w1023 {
        display: block;
        padding: 15px 16px;
        border-bottom: 1px solid $neutrals-3;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        transition: color 0.2s;
      }
      &:hover,
      &:focus {
        &:after {
          transform: scale(1);
        }
      }
      &:active {
        @include w1023 {
          color: var(--accent);
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: -5px;
        right: -9px;
        display: block;
        width: 5px;
        height: 5px;
        background-color: var(--accent);
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.15s ease;
        @include w1023 {
          display: none;
        }
      }
    }
  }
  &__btn {
    padding: 12px 39px;
    position: relative;
    border: 1px solid var(--primary);
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    cursor: pointer;
    background: transparent;
    color: var(--primary);
    isolation: isolate;
    transition: transform cubic-bezier(0, 0, 0.2, 1) 0.3s;
    @include w1023 {
      width: calc(100% - 32px);
      margin: 30px 16px 0;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 71px;
      height: 100%;
      border-radius: 30px;
      background-color: var(--primary);
      mix-blend-mode: color-dodge;
      transition: width cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
      @include w1023 {
        width: 44%;
      }
    }
    @include hover {
      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
    @include active {
      &:active:after {
        width: 100%;
      }
    }
    &:active {
      transform: translate3d(0, 2px, 0) scale(0.95);
    }
  }
}

.mobile-menu {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background-color: var(--surface);
  box-shadow: 0px -4px 40px rgba(255, 255, 255, 0.04);
  @include w1023 {
    display: block;
  }
  &__list {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  &__item {
    flex: 1;
    &:nth-child(2) {
      path {
        stroke: var(--accent);
      }
    }
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 9px 0;
    background: none;
    border: none;
    color: $neutrals-6;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.01em;
    cursor: pointer;
    transition: color 0.2s;
    svg {
      margin-bottom: 2px;
    }
    path {
      stroke: var(--main-on-surface);
      transition: stroke 0.2s;
    }
    &:active,
    &--active {
      color: var(--accent);
      path {
        stroke: var(--accent);
      }
    }
  }
}
