.about {
  &__container {
    display: grid;
    grid-template-columns: auto 427px;
    grid-gap: 10%;
    @include w1023 {
      grid-template-columns: auto 308px;
      grid-gap: 9.3%;
    }
    @include w767 {
      position: relative;
      grid-template-columns: 100%;
    }
  }
  &__col {
    &:last-child {
      padding-right: 31px;
      @include w1200 {
        display: flex;
        align-items: flex-end;
        padding-right: 0;
      }
    }
    .h2title {
      @include w767 {
        max-width: 330px;
        margin-bottom: 292px;
      }
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 271px;
    background: url('../images/about.svg') center/contain no-repeat;
    margin-top: -28px;
    @include w1200 {
      height: 291px;
    }
    @include w1023 {
      height: 248px;
    }
    @include w767 {
      position: absolute;
      top: 118px;
      max-width: calc(100% - 32px);
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(-1, 1);
      width: 220px;
      height: 220px;
      border-radius: 50%;
      background: url('../images/banner-right.gif') center/cover;
      @include w1023 {
        width: 189px;
        height: 189px;
      }
    }
  }
}
