extends ../template

block variables
  - var title = 'Главная'
  - var form = 1
  - var contacts = 1

block content
  section.banner 
    .container.banner__container
      h1.banner__title Web &nbsp;&nbsp;&nbsp;&nbsp;Studio
      p.banner__text Идейные соображения высшего порядка также начало повседневной работы формированию позиции
      .banner__leftimg
      .banner__right 
        .banner__rightimg
        button.banner__btn.banner-btn
          .banner-btn__bg
          <svg width="66" height="43" viewBox="0 0 66 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M44.2439 0L66 21.5L44.2439 43L40.7103 39.508L56.4341 23.9692H0V19.0308H56.4341L40.7103 3.49204L44.2439 0Z" fill="#1B1B1B"/>
          </svg>
    ul.banner__line.banner-line 
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
    ul.banner__line.banner-line 
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
    ul.banner__line.banner-line 
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация
    ul.banner__line.banner-line 
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Создание дизайна") Создание дизайна
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Разработка") Разработка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Start-Up поддержка") Start-Up поддержка
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Комплексное решение") Комплексное решение
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Обслуживание") Обслуживание
      li.banner-line__item 
        a.banner-line__link(href="#" tabindex="-1" data-servicelink="Консультация") Консультация

  section.cases.margin-section
    .container
      h2.banner__title.visually-hidden Наши работы
      ul.cases__list 
        li.cases__item.cases-item 
          a.cases-item__link(href="#")
            picture
              source(type="image/webp" srcset="images/preview.jpg")
              img.cases-item__img(src="images/preview.jpg" alt="Сайт для компании по разработке одежды под ключ DPClo")
            .cases-item__content
              span.cases-item__span Медицина
              span.cases-item__span 2021
              h4.cases-item__title Сайт для компании по разработке одежды под ключ DPClo 
        li.cases__item.cases-item 
          a.cases-item__link(href="#")
            picture
              source(type="image/webp" srcset="images/preview.jpg")
              img.cases-item__img(src="images/preview.jpg" alt="Сайт для компании по разработке одежды под ключ DPClo")
            .cases-item__content
              span.cases-item__span Медицина
              span.cases-item__span 2021
              h4.cases-item__title Сайт для компании по разработке одежды под ключ DPClo 
        li.cases__item.cases-item 
          a.cases-item__link(href="#")
            picture
              source(type="image/webp" srcset="images/preview.jpg")
              img.cases-item__img(src="images/preview.jpg" alt="Сайт для компании по разработке одежды под ключ DPClo")
            .cases-item__content
              span.cases-item__span Медицина
              span.cases-item__span 2021
              h4.cases-item__title Сайт для компании по разработке одежды под ключ DPClo 
        li.cases__item.cases-item 
          a.cases-item__link(href="#")
            picture
              source(type="image/webp" srcset="images/preview.jpg")
              img.cases-item__img(src="images/preview.jpg" alt="Сайт для компании по разработке одежды под ключ DPClo")
            .cases-item__content
              span.cases-item__span Медицина
              span.cases-item__span 2021
              h4.cases-item__title Сайт для компании по разработке одежды под ключ DPClo 
        li.cases__item.cases-item 
          a.cases-item__link(href="#")
            picture
              source(type="image/webp" srcset="images/preview.jpg")
              img.cases-item__img(src="images/preview.jpg" alt="Сайт для компании по разработке одежды под ключ DPClo")
            .cases-item__content
              span.cases-item__span Медицина
              span.cases-item__span 2021
              h4.cases-item__title Сайт для компании по разработке одежды под ключ DPClo 
        li.cases__item.cases__item--last.cases-item 
          a.cases-item__link(href="#")
            .cases-item__content
              h4.cases-item__title Все кейсы
              .cases-item__btn Смотреть портфолио

  section.services#services.margin-section
    .container
      h2.h2title Что мы предлагаем?
      ul.services__list
        li.services__item.services-item.popup-btn(data-popup="callback" data-service="Создание дизайна")
          h3.services-item__title Создание дизайна
          p.services-item__text Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас анализа существенных
          button.services-item__btn.btn-tertiary.popup-btn(data-popup="callback") Оформить заявку
        li.services__item.services-item.popup-btn(data-popup="callback" data-service="Start-Up поддержка")
          h3.services-item__title Start-Up поддержка
          p.services-item__text Идейные соображения высшего порядка, а также укрепление роста и развитие структуры играет важную роль в формировании
          button.services-item__btn.btn-tertiary.popup-btn(data-popup="callback") Оформить заявку
        li.services__item.services-item.popup-btn(data-popup="callback" data-service="Разработка")
          h3.services-item__title Разработка
          p.services-item__text Укрепление роста и развитие структуры важную роль роли в формировании мест активности требуют от нас анализа требуют от нас анализа требуют
          button.services-item__btn.btn-tertiary.popup-btn(data-popup="callback") Оформить заявку
        li.services__item.services-item.popup-btn(data-popup="callback" data-service="Обслуживание")
          h3.services-item__title Обслуживание
          p.services-item__text Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас 
          button.services-item__btn.btn-tertiary.popup-btn(data-popup="callback") Оформить заявку
        li.services__item.services-item.popup-btn(data-popup="callback" data-service="Консультация")
          h3.services-item__title Консультация
          p.services-item__text Задача организации, в особенности же постоянный количественный рост и сфера нашей активности требуют от нас  определения и уточнения
          button.services-item__btn.btn-tertiary.popup-btn(data-popup="callback") Оформить заявку
        li.services__item.services__item--active.services-item.popup-btn(data-popup="callback" data-service="Комплексное решение")
          h3.services-item__title Комплексное решение
          p.services-item__text С другой стороны реализация намеченных плановых заданий требуют определения и уточнения позиций
          button.services-item__btn.btn-tertiary.popup-btn(data-popup="callback") 
            <svg class="services-item__btn--border" preserveAspectRatio="none" width="231" height="49" viewBox="0 0 231 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M207.5 1H24.5C11.5213 1 1 11.5213 1 24.5C1 37.4787 11.5213 48 24.5 48H207.5C217.097 48 225.351 42.247 229 34.0014H230.089C226.379 42.8135 217.662 49 207.5 49H24.5C10.969 49 0 38.031 0 24.5C0 10.969 10.969 0 24.5 0H207.5C217.662 0 226.379 6.1865 230.089 14.9986H229C225.351 6.75304 217.097 1 207.5 1Z" fill="#F4F4F4"/>
            </svg>
            <svg class="services-item__btn--arr" width="36" height="17" viewBox="0 0 36 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M27.5801 0L36 8.5L27.5801 17L26.2126 15.6194L32.2979 9.47621L0 9.47621V7.52378L32.2979 7.52379L26.2126 1.38058L27.5801 0Z" fill="#F4F4F4"/>
            </svg>
            | Оформить заявку

  section.principles.margin-section
    .container
      h2.h2title Принципы нашей работы
      ul.principles__list
        li.principles__item.principles-item 
          h3.principles-item__title Согласование
          p.principles-item__text Дальнейшее развитие различных форм деятельности в значительной степени разнообразный и богатый опыт 
        li.principles__item.principles-item 
          h3.principles-item__title Формальности
          p.principles-item__text Значимость этих проблем настолько очевидна, деятель постоянное информационно
        li.principles__item.principles-item 
          h3.principles-item__title Безопасность
          p.principles-item__text Разнообразный и богатый опыт дальнейшее развитие различных деятельности в значительной 

  section.about#about.margin-section
    .container.about__container
      .about__col
        h2.h2title О студии GrowthPoint
        p.about__text GrowthPoint — web-студия класса "А", разнообразный и богатый опыт дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль. Значимость этих проблем настолько очевидна, деятель постоянное информационно-пропагандистское обеспечение нашей деятельности.
      .about__col
        .about__img



